@import './_SiteCore.scss';
.btn,
.btn-primary {
    color: $site-black !important;
    background-color: $light-gray !important;
    border-color: $light-gray !important;
    font-size: 0.93em;
    font-family: 'Montserrat', sans-serif;
}

.btn-primary:hover {
    color: $deep-red !important;
    background-color: $site-white !important;
}

.btn-primary:active {
    color: $nav-highlight !important;

}

.btn-primary,
.btn-primary:visited {
    background-color: $light-gray !important;
}


.btn:focus {
    outline: none !important;
    box-shadow: none !important;
    border-width: 0px !important;
    background-color: #fff !important;
}