@import './_SiteCore.scss';
.fixed-nav-bar {
    z-index: 1000;
    position: fixed;
    width: 100%;
    background-color: $site-black;
}

.site-title-bar {
    font-size: 1.30em;
    color: #fff;
    height: 50px;
    width: 100%;
    padding-top: 0.5em;
    text-align: center;
    cursor: pointer;
    @media only screen and (min-width: 768px) {
        text-align: left;
    }
    /* iphone 5 horz */
    @media (min-width: 540px) and (max-height: 320px) {
        height: 35px;
        width: 100%;
        padding-top: 0em;
    }
    /* iphone 6/7/8 horz */
    @media (min-width: 667px) and (max-height: 375px) {
        height: 35px;
        width: 100%;
        padding-top: 0em;
    }
    /* pixel 2  horz */
    @media (min-width: 411px) and (max-height:720px) {
        height: 30px;
        width: 100%;
        padding-top: 0em;
    }
    /* pixel 2 XL horz */
    @media (min-width: 411px) and (max-height:823px) {
        height: 30px;
        width: 100%;
        padding-top: .3em;
    }
}

.site-title {
    a {
        font-family: 'Montserrat', sans-serif;
    }
    text-align:center;
    @media only screen and (min-width: 768px) {
        text-align: left;
    }
}

a.site-title:hover {
    text-decoration: none;
    color: #ffaf00;
}

.not-site-title:after {
    width: 38px;
    height: 30px;
    content: " ";
    position: absolute;
    top: 10px;
    background-image: url("/img/colorwheel.png");
    background-size: cover;
}

.nav-bar {
    font-size: 0.890em;
    color: #fff;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 30px;
    padding-top: 5px;
    @media only screen and (min-width: 768px) {
        height: 45px;
        padding-top: 1em;
        margin-right: 0px;
        font-size: 1em;
        text-align: right;
    }
}

.site-nav {
    text-decoration: none;
    padding: 7px;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
}