@import './_SiteCore.scss';

.character-icon {
  width:40%;
  height:auto;
  @media(min-width:640px) {
    width:100%;
    height:auto;
  }
}

#siteArch {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

#siteArch > div {
  max-width: 160px;
  height: 160px;
  padding: .2em;

  @media(min-width:640px){
    max-width: 250px;
    height: 200px;
    padding: 1em 0em 0em 3.3em;
  }
}


.cls-1,
.cls-3,
.cls-4,
.cls-6 {
  fill: none;
  stroke: $off-white;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}
